{% extends 'index.html' %}

{% block content %}

{% if campsites.METADATA.RESULTS.TOTAL_COUNT == 0 %}
    <p>Sorry, but this campground doesn't have any campsites avalible.</p>
{% else %}
    <h1>{{ data.FacilityName }}</h1>
    <p id='description'>{{ data.FacilityDescription }}</p>
    
    <div class='row'>
        {% for i in campsites.RECDATA %}
        <div class='col s12 m4 l3'>
            <div class='card'>
                <div class='card-image'>
                    <picture>
                        {% comment %} <img src=`{{ i.ENTITIYMEDIA[0].URL }}`> {% endcomment %}
                        {% for img in i.ENTITYMEDIA%}
                            <source srcset="{{ img.URL }}">
                        {% endfor %}
                        <img src='https://assets.atlasobscura.com/media/W1siZiIsInVwbG9hZHMvYXNzZXRzLzM2OWI2OWU0LTZmYmQtNDIxMy1hNmJiLTgxZGIxNGE4NDg3MDUyYmE5ZTQyMjVkNGZlYTVhN19ydi5jYW1waW5nLjEuanBnIl0sWyJwIiwiY29udmVydCIsIiJdLFsicCIsImNvbnZlcnQiLCItcXVhbGl0eSA4MSAtYXV0by1vcmllbnQiXSxbInAiLCJ0aHVtYiIsIjEyODB4PiJdXQ/rv.camping.1.jpg' style='height:186px; width:248px; object-fit: cover;'>
                    </picture>
                    <span class='card-title'>{{ i.CampsiteName }}</span>
                </div>
                <div class='card-content'>
                    <p>{{ i.CampsiteType }}</p>
                    <p>Please click <a href='https://www.recreation.gov/camping/campsites/{{ i.CampsiteID }}'>Reservations</a> to check avalibility and get detailed info about this campsite.</p>
                </div>
                {% comment %} <div class='card-action'>
                    <a href="#">This is a link</a>
                </div> {% endcomment %}
            </div>
        </div>
        {% endfor %}
    </div>
            
        
{% endif %}<br>

{% comment %} Form to create foward and back buttons to scoll through the campsites. {% endcomment %}
<form action="{% url 'g_kamp_app:campsites' data.FacilityID %}" method='get'>
    {% csrf_token %}
    <input id='offset' value='{{ offset }}' name='offset' type='hidden'>
    <input id='limit' value='{{ params.limit }}' name='limit' type='hidden'>
    {% if campsites.METADATA.SEARCH_PARAMETERS.OFFSET > 0%}
        <button id='back' type='submit'>Back</button>
    {% endif %}
    {% if campsites.METADATA.RESULTS.CURRENT_COUNT == 24 %}
        <button id='forward' type='submit'>Next</button>
    {% endif %}
</form>


<script>

{% comment %} Takes interier text in the API call that had HTML tags and lets those tags work. {% endcomment %}
    let description = document.getElementById('description')
    description.innerHTML = description.innerText
    
{% comment %} logic for the forward and back buttons to work. {% endcomment %}
    let back = document.getElementById('back')
    if (back){
    back.addEventListener('click', function(){
        let offset = document.getElementById('offset')
        let limit = document.getElementById('limit')
        document.getElementById('offset').value = offset.value - limit.value
    })}
    
    let next = document.getElementById('forward')
    if (next){
    next.addEventListener('click', function(){
        let offset = document.getElementById('offset')
        let limit = document.getElementById('limit')
        document.getElementById('offset').value = offset.value + limit.value
    })}
</script>

{% endblock content %}
