{% extends 'index.html' %}

{% block nav %}

{% if user.is_authenticated %}
    {% comment %} <p>Hi {{ user.username }}!</p>
    <a href="{% url 'logout' %}">Log Out</a> {% endcomment %}
{% else %}
    <p>Please log in or signup!</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{% comment %} <a href="{% url 'g_kamp_app:home' %}">Home</a> {% endcomment %}

{% endblock nav %}

{% block content %}

    <form action="{% url 'g_kamp_app:search' %}" method="get">
        {% csrf_token %}
        <input id='limits' value="limits" type='number' name='limits' placeholder='max 50'>
        <select id='state' value="state" name='state'>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
            {% comment %} {% for key, name in states.items%}
                {% if key == state %}
                    <option selected value="{{ key }}">{{ name }}</option>
                {% else %}
                    <option value="{{ key }}">{{ name }}</option>
                {% endif %}
            {% endfor %} {% endcomment %}
        </select>
        <button type='submit'>Search</button>
    </form>
    
    {% comment %} <form action="{% url g_kamp_app:campground %}" method="get"> {% endcomment %}
        {% comment %} {% csrf_token %}
        {% for i in RECDATA.RECDATA %}
            <h2><a href="campground/{{ i.FacilityID }}">{{ i.FacilityName }}</a> -- {{ i.FacilityID }}</h2>
        {% endfor %} {% endcomment %}
    {% comment %} </form> {% endcomment %}

    
{% endblock content %}