{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <title>{% block title %}G-Kamp{% endblock  %}</title>
</head>
<body>
    <h1>G-Kamp</h1>
    <h3>Camping with the governments finest!</h3>
        <nav class="nav-entended">
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>{% block nav %}{% endblock nav %}</li>
                    {% if user.is_authenticated %}
                        <li>Hi {{ user.username }}!</li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {% endif %}
                    <li><a href="{% url 'g_kamp_app:home' %}">Home</a> </li>
                <ul>
            </div>
        </nav>

    {% comment %} <form action="{% url 'g_kamp_app:search' %}" method="get">
        {% csrf_token %}
        <input id='limits' value="limits" type='number' name='limits' placeholder='max 50'>
        <select id='state' value="state" name='state'>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District Of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
            {% for key, name in states.items%}
                {% if key == state %}
                    <option selected value="{{ key }}">{{ name }}</option>
                {% else %}
                    <option value="{{ key }}">{{ name }}</option>
                {% endif %}
            {% endfor %} 
        </select>
        {% if current_offset == 0%}
        <button type='submit'>Search</button>
        {% else %}
            <button id='pageBack' type='submit'>Previous Page</button>
            <button type='submit'>Next Page</button>
        {% endif %}
        

        <button type='submit'>
            {% if current_offset == 0%}
                Search
            {% else %}
                View Next Page
            {% endif %}
        </button>
        <input id='current_offset' value='{{ current_offset|add:limits }}' type='hidden' name="current_offset">
        <button id='reset'>Reset</button>
    </form> {% endcomment %}
    
    {% comment %} <form action="{% url g_kamp_app:campground %}" method="get"> {% endcomment %}
        {% comment %} {% csrf_token %}
        {% for i in RECDATA.RECDATA %}
            <h2><a href="campground/{{ i.FacilityID }}">{{ i.FacilityName }}</a> -- {{ i.FacilityID }}</h2>
        {% endfor %} {% endcomment %}
    {% comment %} </form> {% endcomment %}

    

    {% block content %}
    {% endblock content %}

    
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script>
        {% comment %} JS for reset button on search page. {% endcomment %}
        {% comment %} let reset = document.querySelector('#reset')
        reset.addEventListener('click', function(){
            document.getElementById("limits").value = 1
            document.getElementById("state").value = null
            document.getElementById("current_offset").value = 0
        })
        console.log(current_offset.value) {% endcomment %}
        {% comment %} JS for backbutton logic on search page. {% endcomment %}
        let pageBack = document.querySelector('#pageBack')
        pageBack.addEventListener('click', function(){
            let limits = document.getElementById('limits').value
            let current_offset = document.getElementById('current_offset').value
            console.log(current_offset)
            document.getElementById('current_offset').value = current_offset - (limits*2)
        })
    </script>
</body>
</html>