{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://kit.fontawesome.com/45c8fc6d95.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}G-Kamp{% endblock  %}</title>
</head>
<body>
    <header>
        <nav class="nav-entended" style='background-color: #3b5c60;' role='navigation'>
            <div class="nav-wrapper container">
                <a id='logo-container' class='brand-logo'>G-Kamp<i class="fa-solid fa-mountain-sun" style="@media(min-width: 600px)"></i></a>
                <ul class="right hide-on-med-and-down">
                    {% comment %} <li>{% block nav %}{% endblock nav %}</li> {% endcomment %}
                    {% if request.user.is_authenticated %}
                        <li>Hi {{ user.username }}!</li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                        <li><a href="{% url 'g_kamp_app:profile' %}">Profile</a></li>
                    {% else %}
                        <li>Please log in or signup!</li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                    <li><a href="{% url 'g_kamp_app:home' %}">Home</a> </li>
                </ul>
                <ul id='nav-mobile' class='sidenav' style='transform: translateX(-105%);'>
                    {% comment %} <li>{% block nav %}{% endblock nav %}</li> {% endcomment %}
                    {% if request.user.is_authenticated %}
                        <li>Hi {{ user.username }}!</li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                        <li><a href="{% url 'g_kamp_app:profile' %}">Profile</a></li>
                    {% else %}
                        <li>Please log in or signup!</li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                    <li><a href="{% url 'g_kamp_app:home' %}">Home</a> </li>
                </ul>
                <a href='#' data-target='nav-mobile' class='sidenav-trigger'>
                    <i class='material-icons'>menu</i>
                </a>
            </div>
        </nav>
    </header>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
    <footer class='page-footer' style='background-color: #6AA7AD; margin-top: 5em;'>
        <div class='footer-copyright' style='background-color: #3b5c60;'>
            <div class='container'>
                Copyright &copy; Alden Addor 2022
                <div class='right'>
                    <i class="fa-brands fa-linkedin"></i><a href="https://www.linkedin.com/in/aldenaddor/"> LinkedIn</a>
                    <i class="fa-brands fa-github"></i><a href="https://github.com/Alden-Addor"> Github</a>
                    <i class="fa-solid fa-person-hiking"></i><a href="http://aldenaddor.com/"> Porfolio</a>
                </div>
            </div>
        </div>
    </footer>
    
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script>
        let pageBack = document.querySelector('#pageBack')
        pageBack.addEventListener('click', function(){
            let limits = document.getElementById('limits').value
            let current_offset = document.getElementById('current_offset').value
            console.log(current_offset)
            document.getElementById('current_offset').value = current_offset - (limits*2)
        })
    </script>
</body>
</html>