{% extends 'index.html' %}

{% block content %}

    <form action="{% url 'g_kamp_app:search' %}" method="get">
        {% csrf_token %}
        <input id='limits' value="{{ limits }}" type='number' name='limits' placeholder='max 50'>
        <select id='state' value="{{ state }}" name='state'>
            {% for key, name in states.items%}
                {% if key == state %}
                    <option selected value="{{ key }}">{{ name }}</option>
                {% else %}
                    <option value="{{ key }}">{{ name }}</option>
                {% endif %}
            {% endfor %}
        </select>
            <button id='pageBack' type='submit'>Previous Page</button>
            <button type='submit'>Next Page</button>
        <input id='current_offset' value='{{ current_offset|add:limits }}' type='hidden' name="current_offset">
        <a id='reset' href="..">Reset</a>
    </form>

    {% for i in data.RECDATA %}
        <h2><a href="{% url 'g_kamp_app:campground' i.FacilityID forloop.counter0 %}">{{ i.FacilityName }}</a> -- {{ i.FacilityID }}</h2>
    {% endfor %}

{% endblock content %}